<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Shyam-Sunder</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
        <link rel="stylesheet" href="/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/fonts/material-icons.min.css">
        <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
        <link rel="stylesheet" href="/css/additional.css">
    </head>
    <body id="page-top">
        <%- include ("partials/nav.ejs") %>
        <%- include ("partials/header.ejs") %>
        <%- include ("partials/about.ejs") %>
        <%- include ("partials/techSkills.ejs") %>
        <%- include ("partials/resume.ejs") %>
        <%- include ("partials/services.ejs") %>
        <%- include ("partials/portfolio.ejs") %>
        <%- include ("partials/stats.ejs") %>
        <%- include ("partials/certificates.ejs") %>
        <!-- <section id="contact" class="map">
            <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe>
        </section> -->
        <%- include ("partials/footer.ejs") %>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stylish-portfolio.js"></script>
        <script src="/js/additional.js"></script>
        <!-- <script id="bs-live-reload" data-sseport="36989" data-lastchange="1682785026720" src="js/livereload.js"></script> -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script> -->
    </body>
</html>
